<!--********************    start header  ********************************-->
<div class="row bg-dark mt-3">
    <div class="col-md-12 d-flex flex-row">

        <p class="h5 text-light py-3 ml-auto"> الشحنات المعلقه </p>
    </div>
</div>
<!--*******************    end  header  *****************************-->



<!--*******************    start tabel  body   *********************-->
<p-table #depTbl [value]="List" [globalFilterFields]="['receiver.phone_number' , 'receiver.first_name' , 'receiver.address' ,'products_price' , 'date_of_receipt' ,'user.first_name' ,'' ]" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]" [totalRecords]="this.recourdNumber" [pageLinks]="8" [scrollable]="true"
    scrollHeight="350px">
    <!-- table caption  -->
    <ng-template pTemplate="caption">
        <div class="p-d-flex">
            <div class="search-warpper">
                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(depTbl)">
          </button>
                <span class="p-input-icon-left p-ml-auto">
              <i class="pi pi-search"></i>
              <input class="search-textbox" pInputText type="text"
              (input)="depTbl.filterGlobal($event.target.value, 'contains')" placeholder="بحث" />
          </span>
            </div>
        </div>
    </ng-template>
    <!--********  table header  *****-->
    <ng-template pTemplate="header">
        <tr>
            <th> ألاجراءات </th>
            <!-- <th pSortableColumn="delivery_date"> تاريخ وصول
                <p-sortIcon field="delivery_date"></p-sortIcon>

            </th> -->
            <th pSortableColumn="date_of_receipt"> تاريخ الاستلام 
                <p-sortIcon field="date_of_receipt"></p-sortIcon>

            </th>
            <th pSortableColumn="receiver.phone_number"> رقم تليفون المستلم
                <p-sortIcon field="receiver.phone_number"></p-sortIcon>

            </th>
            <th pSortableColumn="receiver.address"> عنوان المستلم
                <p-sortIcon field="receiver.address"></p-sortIcon>

            </th>
            <th pSortableColumn="receiver.first_name"> اسم المستلم
                <p-sortIcon field="receiver.first_name"></p-sortIcon>

            </th>
            <th pSortableColumn="products_price"> سعر المنتجات 
                <p-sortIcon field="products_price"></p-sortIcon>

            </th>
            <th pSortableColumn="price"> سعر الشحن 
                <p-sortIcon field="price"></p-sortIcon>

            </th>
            <th pSortableColumn="user.first_name"> اسم الراسل
                <p-sortIcon field="user.first_name"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <!--*******  table body  ******-->
    <ng-template pTemplate="body" let-obj>
        <tr>
            <td>
                <a data-toggle="modal" (click)="add_edit(shipDetails, obj )" title="اضافه  " class="edit-emp-btn btn btn-primary btn-sm "><i class="fas fa-plus"></i></a> &nbsp;

            </td>
            <!-- <td> {{(obj.delivery_date) ? obj.delivery_date : 'لا يوجد'}} </td> -->
            <td> {{(obj.date_of_receipt) ? obj.date_of_receipt : 'لا يوجد' }} </td>
            <td>  {{obj?.receiver?.phone_number}} </td>
            <td> {{obj?.receiver?.address}} </td>
            <td> {{obj?.receiver?.first_name}} {{obj?.receiver?.second_name}} {{obj?.receiver?.last_name}} </td>        
            <td> {{obj.products_price}} </td>
            <td> {{obj.price}} </td>
            <td> {{obj?.user?.first_name}} {{obj?.user?.second_name}} {{obj?.user?.last_name}} </td>
        </tr>
    </ng-template>
</p-table>
<!--********************    end  tabel  body   ********************************-->








<ng-template #shipDetails let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" style="color:#f1f1f1 !important" id="modal-basic-title"> شحنه معلقه </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
<span aria-hidden="true">&times;</span>
</button>
    </div>
    <div class="modal-body " style="direction: rtl;">
        <!-- Modal Form Start -->
        <div class="border"></div>

        <form [formGroup]="myForm" (submit)="sendData()" class="p-2">
            <div class="row">
                <!-- اسم شركه النقل   -->
                <div class="col-md-6" *ngIf="allBranches">
                    <label for="branch_id">الفرع</label>
                    <div class="form-group">
                        <select class="form-control" (change)="onBranchChange($event.target.value)" formControlName="branch_id" name="branch_id" id="branch_id">
                            <option *ngFor="let branch of allBranches" [value]="branch.id">{{branch.name}}</option>
                        </select>
                        <!-- <div *ngIf='submited && f.branch_id.errors'>
                      <div *ngIf="submited && f.branch_id.errors.required" style="color: red;"> * مطلوب </div>
                  </div> -->
                    </div>
                </div>

                <div class="col-md-6" *ngIf="storages">
                    <label>المخزن</label>
                    <div class="form-group">
                        <select formControlName="storage_id" name="storage_id" class="form-control">
                          <option *ngFor="let storage of storages" [value]="storage.id">{{storage.name}}</option>
                      </select>
                        <!-- <div *ngIf='submited && f.branch_id.errors'>
                    <div *ngIf="submited && f.branch_id.errors.required" style="color: red;"> * مطلوب </div>
                </div> -->
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="employee_id">اختر المندوب</label>
                    <div class="form-group">
                        <select class="form-control" formControlName="employee_id" name="employee_id" id="employee_id">
                        <option *ngFor="let employee of allRepresentatives" [value]="employee.id">{{employee.user?.first_name}} {{employee.user?.second_name}} {{employee.user?.last_name}}</option>
                    </select>
                        <!-- <div *ngIf='submited && f.employee_id.errors'>
                  <div *ngIf="submited && f.employee_id.errors.required" style="color: red;"> * مطلوب </div>
              </div> -->
                    </div>
                </div>


                <div class="col-md-6">
                    <label for="price">سعر الشحن <span class="optional">(optional)</span></label>
                    <div class="form-group">
                        <input type="number" class="form-control" formControlName="price" name="price" id="price">

                    </div>
                </div>



                <div class="bg-light p-2 w-100">
                    <button [disabled]="myForm.invalid" class="btn btn-primary btn-block text-center"> موافق </button>
                </div>
            </div>

        </form>
    </div>

</ng-template>
