<!-- <div *ngIf="isLoading | async" class="overlay d-flex justify-content-center align-items-center">

    <div class='loader'>
        <div class='prong'>
            <div class='inner'></div>
        </div>
        <div class='prong'>
            <div class='inner'></div>
        </div>
        <div class='prong'>
            <div class='inner'></div>
        </div>
        <div class='prong'>
            <div class='inner'></div>
        </div>
        <div class='prong'>
            <div class='inner'></div>
        </div>
        <div class='prong'>
            <div class='inner'></div>
        </div>
        <div class='prong'>
            <div class='inner'></div>
        </div>
        <div class='prong'>
            <div class='inner'></div>
        </div>
        <div class='prong'>
            <div class='inner'></div>
        </div>
        <div class='prong'>
            <div class='inner'></div>
        </div>
        <div class='prong'>
            <div class='inner'></div>
        </div>
        <div class='prong'>
            <div class='inner'></div>
        </div>
    </div>

</div> -->