<p-toast position="top-right" key="myKey2"></p-toast>
<p-toast position="bottom-left" key="myKey1"></p-toast>
<form [formGroup]='myform' (submit)='onsubmit(itmeId)'>
    <div class="from-group">
        <label for="">  نوع العميل     </label>
        <input type="text" name='type' formControlName='type' class="form-control" [ngClass]="{ 'is-invalid' : submited && f.type.errors}">
        <div *ngIf='submited && f.type.errors' class="invalid-feedback">
            <div *ngIf='f.type.errors.required'> مطلوب </div>
        </div>
    </div> <br>
    <button class='btn btn-primary' type="submit"> {{itmeId === "" ?  'اضافة': 'تعديل'}}  </button>
</form>