<!--********************    start header  ********************************-->
<div class="row bg-dark mt-3">
    <div class="col-md-12 d-flex flex-row">
        <div class="pt-3">
            <button type="button" (click)="add_edit(AE_modal, '')" class="btn btn-primary" data-toggle="modal" data-target="#jobs">
                <i class="fas fa-user-plus"></i>
                اضافة 
            </button>
        </div>
        <p class="h5 text-light py-3 ml-auto"> درجات علمية      </p>
    </div>
</div>
<!--*******************    end  header  *****************************-->



<!--*******************    start tabel  body   *********************-->
<p-table #depTbl [value]="qualificatons" [globalFilterFields]="['grade']"    [paginator]="true" [rows]="10"
[rowsPerPageOptions]="[10,25,50]" [totalRecords]="this.recourdNumber" [pageLinks]="8" [scrollable]="true"
scrollHeight="350px">
    <!-- table caption  -->
    <ng-template pTemplate="caption">
        <div class="p-d-flex">
            <div class="search-warpper">
            <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                (click)="clear(depTbl)">
            </button>
            <span class="p-input-icon-left p-ml-auto">
                <i class="pi pi-search"></i>
                <input class="search-textbox" pInputText type="text"
                (input)="depTbl.filterGlobal($event.target.value, 'contains')" placeholder="بحث" />
            </span>
            </div>
        </div>
    </ng-template>
    <!--********  table header  *****-->
    <ng-template pTemplate="header">
        <tr>
            <th> ألاجراءات </th>
            <th pSortableColumn="jobName">   الدرجة العلمية      <p-sortIcon field="age"></p-sortIcon></th>
        </tr>
    </ng-template>
    <!--*******  table body  ******-->
    <ng-template pTemplate="body" let-obj>
        <tr>
            <td><!--edit here-->
                <a data-toggle="modal"  (click)="add_edit(AE_modal, obj)"  title="تعديل بيانات الموظف"
                    class="edit-emp-btn btn btn-primary btn-sm mx-2">
                    <i class="fas fa-edit"></i>
                </a>
            </td>
            <td>{{obj.grade}}</td>
        </tr>
    </ng-template>
</p-table>
<!--********************    end  tabel  body   ********************************-->




<!--********************  start add-edit modal  ********************************-->
<ng-template #AE_modal let-c="close" let-d="dismiss">
    <div class="modal-header">
    <h4 class="modal-title" style="color:#f1f1f1 !important" id="modal-basic-title"> مرحبا </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <!-- render form here -->
        <app-edit-add-grad [Catchobj]='catchobj'  (newData)="after($event)" > </app-edit-add-grad>
        <!-- /render form here -->
    </div>
</ng-template>
<!--********************   end add-edit modal   *********************-->



