<p-toast position="top-center" key="myKey2"></p-toast>
<p-toast position="top-center" key="myKey1"></p-toast>
<form [formGroup]='myform' (submit)='onsubmit(id)'>
    <div class="form-group">
        <label for=""> اسم الوظيفة </label>
        <input type="text" name="name" formControlName='name' class="form-control" [ngClass]="{ 'is-invalid' : submited && f.name.errors }">
        <div *ngIf='submited && f.name.errors'> * هذا الحقل مطلوب </div>
    </div>
    <button class="btn btn-outline-dark"> {{ id === "" ? 'اضافة':'تعديل'}}</button>
</form>
