label {
    text-align: left !important;
    margin-top: 10px;
}

.panel-body {
    padding: 20px;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group-addon,
.input-group-btn {
    /* width: 1%; */
    line-height: 1.5;
    white-space: nowrap;
    vertical-align: middle;
}

.input-group .form-control,
.input-group-addon,
.input-group-btn {
    display: table-cell;
}

#PrintableContent {
    padding: 20px 0px 0px 0px;
    margin: 20px auto;
    background-color: rgb(255, 255, 255);
    min-height: 70vh;
}

table,
td,
th {
    border: 1px solid #9a9a9a;
}

td,
th {
    padding: 5px;
}

.sidebar-dropdown {
    cursor: pointer !important;
}

.panel,
.social-icons.social-icons-color>li>a,
.social-icons li>a,
.well {
    box-shadow: 0 1px 3px rgb(0 0 0/10%), 0 1px 2px rgb(0 0 0/18%)!important;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

.panel-dark>.panel-heading {
    color: #eee;
    background-color: #2cb1da;
    border-color: #2388be;
}

.addItemBtn {
    background-color: #c8caca;
    border-color: #c0c3c3;
}

.panel-heading {
    background: #eee;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.pull-right {
    float: right!important;
}

.alert,
.badge,
.btn-group>.btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all),
.btn.btn-link:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all):hover,
.btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all),
.icon-btn,
.label:not(.md-skip),
.md-shadow-z-1,
.note,
.panel,
.social-icons.social-icons-color>li>a,
.social-icons li>a,
.well {
    box-shadow: 0 1px 3px rgb(0 0 0/10%), 0 1px 2px rgb(0 0 0/18%)!important;
}

.btn.green:not(.btn-outline) {
    color: #FFF;
    background-color: #32c5d2;
    border-color: #32c5d2;
}

.page-content {
    min-height: 73vh;
}

.page-content {
    min-height: 73vh;
}

.page-content {
    padding: 15px 0;
}

.wrappingHeading {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
}

.flex-group {
    display: flex;
    flex-direction: row-reverse;
}

.modal-title {
    color: #FFF !important;
}

.program_price .modal.show .modal-dialog,
.modal.fade .modal-dialog {
    max-width: 1200px !important
}

.log--screen .modal.show .modal-dialog,
.modal.fade .modal-dialog:not(.modal-xl, .modal-lg) {
    max-width: 700px !important;
}

.modal.fade .modal-dialog.modal-xl {
    width: 950px !important;
}

.p-dropdown .p-dropdown-label.p-placeholder,
.p-dropdown .p-dropdown-label {
    font-size: 0.9rem !important;
}

.itemRow .pi-times:before {
    content: "\e90b";
    position: relative;
    left: 35px;
    font-size: 0.8rem;
    top: -1px;
}

.test .p-datatable .p-paginator-bottom {
    display: none !important;
}

.sidebar-dropdown {
    cursor: pointer !important;
}

.li-wrapping .mat-h3,
.li-wrapping .mat-subheading-2,
.li-wrapping .mat-typography h3,
.wrappingHeading h3 {
    margin: 0 !important;
    font-family: 'hanimation' !important;
}