<p-toast position="top-right" key="myKey2"></p-toast>
<p-toast position="bottom-left" key="myKey1"></p-toast>
<form [formGroup]="myform" (submit)="onsubmit(id)">
    <div class="row">
        <div class="col-sm-6">
            <div class="from-group">
                <label for="">  عدد مرات الاستخدام  </label>
                <input type="number" name="uses_per_coupon" formControlName="uses_per_coupon" class="form-control" [ngClass]="{'is-invalid' : submited && f.uses_per_coupon.errors}">
                <div *ngIf='submited && f.uses_per_coupon.errors'>
                    <div *ngIf='submited && f.uses_per_coupon.errors.required' style="color: red;"> هذا الحقل مطلوب </div>
                </div>
            </div> <br>

            <div class="from-group">
                <label for="">  تاريخ الانتهاء </label>
                <input type="date" name="end_date"  formControlName="end_date" class="form-control" [ngClass]="{'is-invalid' : submited && f.end_date.errors}">
                <div *ngIf='submited && f.end_date.errors'>
                    <div *ngIf='submited && f.end_date.errors.required' style="color: red;"> هذا الحقل مطلوب </div>
                </div>
            </div> <br>

            <div class="from-group">
                <label for="">  نسبه مئوية </label> <br>
                <input type="radio" name="is_percentage" formControlName="is_percentage" [ngClass]="{'is-invalid' : submited && f.is_percentage.errors}" value=0> <label for=""> لا </label> &nbsp; &nbsp;
                <input type="radio" name="is_percentage" formControlName="is_percentage" [ngClass]="{'is-invalid' : submited && f.is_percentage.errors}" value=1> <label for=""> نعم   </label>
                <div *ngIf='submited && f.is_percentage.errors'>
                    <div *ngIf='submited && f.is_percentage.errors.required' style="color: red;"> هذا الحقل مطلوب </div>
                </div>
            </div> <br>
        </div>

        <!-- secont col -->
        <div class="col-sm-6">
            <div class="from-group">
                <label for="">  الاسم </label>
                <input type="text" name="name" formControlName="name" class="form-control" [ngClass]="{'is-invalid' : submited && f.name.errors}">
                <div *ngIf='submited && f.name.errors'>
                    <div *ngIf='submited && f.name.errors.required' style="color: red;"> هذا الحقل مطلوب </div>
                </div>
            </div> <br>

            <div class="from-group">
                <label for="">  تاريخ البدء </label>
                <input type="date" name="start_date"  formControlName="start_date" class="form-control" [ngClass]="{'is-invalid' : submited && f.start_date.errors}">
                <div *ngIf='submited && f.start_date.errors'>
                    <div *ngIf='submited && f.start_date.errors.required' style="color: red;"> هذا الحقل مطلوب </div>
                </div>
            </div> <br>

            <div class="from-group">
                <label for="">  خصومات </label>
                <input type="number" name="discount" formControlName="discount" class="form-control" [ngClass]="{'is-invalid' : submited && f.discount.errors}">
                <div *ngIf='submited && f.discount.errors'>
                    <div *ngIf='submited && f.discount.errors.required' style="color: red;"> هذا الحقل مطلوب </div>
                </div>
            </div> <br>

            <div class="from-group">
                <label for="">  عدد الكوبونات   </label>
                <input type="number" name="number" formControlName="number" class="form-control" [ngClass]="{'is-invalid' : submited && f.number.errors}">
                <div *ngIf='submited && f.number.errors'>
                    <div *ngIf='submited && f.number.required' style="color: red;"> هذا الحقل مطلوب </div>
                </div>
            </div> <br>
        </div>
    </div>
    
    <button class="btn btn-primary"> {{id === "" ? 'اضافة' : 'تعديل'}} </button>
</form>